/*  your css code here. If applicable */
*{
	width:1100px;
	background-color:lightgray;
}

.imageContainer img{
    width:25%;
	height:50%
}

img{
	width:250px;
}

table{
	border:1px solid black
}

.first{
	width:200px;
	border:1px solid black;
}

.second{
	width:600px;
	border:1px solid black;
	text-align:center;
}

td {
    border: 1px solid black;
    vertical-align: top;
}

.third{
	width:200px;
	border:1px solid black;
}